import(grid)

export(corLinkcommCentrality, cutDendrogramAt, getAllNestedComm, getClusterRelatedness, getCommunityCentrality, getCommunityConnectedness, getCommunityMatrix, getEdgesIn, getLinkCommunities, getLinkCommDensities, getNestedHierarchies, getNodesIn, graph.feature, layout.spencer.circle, linkcomm2cytoscape, newLinkCommsAt, newLinkCommsAt, orderCommunities, plotLinkCommDend, plotLinkCommGraph, plotLinkCommMembers, plotLinkCommSummComm, plotLinkCommSumm)

S3method(plot, linkcomm)
S3method(print, linkcomm)

useDynLib(linkcomm, getEdgeSimilarities, hclustLinkComm, hclustPlotOrder, getLinkDensities, cutTreeAt, getJaccards)

